    /* Coded with love by Mutiullah Samim */
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Aleo', serif;
        font-weight: 400;
    }
    body {
        overflow-y: scroll;
        height: 100vh;
        background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(39,107,130,1)), color-stop(100%, rgb(236, 128, 116))); /* safari4+,chrome */
        background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* ie10+ */
        background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* w3c */
        overflow: hidden;
    }
    input, input:focus {
        border-bottom: 1px solid #ec8074 !important;
        background-color: #ffffff !important;
        outline: 0px solid #ffffff;
    }
    .form-control{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ec8074;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .user_card {
        height: 400px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #ffffff;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 25px;

    }
    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #ffffff;
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        border-radius: 4px;
        background-color: #ec8074;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        height: 40px;
        min-height: 40px;
        min-width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        border-radius: 10px;
    }
    .login_btn span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .login_btn span:after{
        content: '\f2f6';
        font-family: "Font Awesome 5 Pro";
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        transition: 0.5s;
    }      
    .login_btn:hover{        
        box-shadow: 0px 6px 15px #fda197;
    }
    .login_btn:hover span{
        padding-right: 25px;        
    }
    .login_btn:hover span:after {
        opacity: 1;
        right: 0;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_btn > input {
        display: none !important;
    }
    .login_container {
        padding: 0 2rem;
        margin-top: 30px;
    }
    .input-group-text {
        background: transparent !important;
        color: #ec8074 !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
        font-size: 25px;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }