<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= room %></title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="./css/style2.css">
</head>

<body class="chat">
    <input type="hidden" value="<%= name %>" id="username" required>
    <input type="hidden" value="<%= room %>" id="roomchat" required>
    <input type="hidden" value="<%= password %>" id="password" required>
    <div class="chat__sidebar table__scrollbar">
      <div class="logo-room">
        <img src="./logo.png" class="brand_logo rotate" alt="Logo">
        <h3 style="color: #ffffff; white-space: nowrap; max-width: 200px; overflow: hidden; text-overflow: ellipsis;"><%= room %></h3>
      </div>  
        <div id="users">
        
        </div>
    </div>
    <div class="chat__main">
        <ol id="messages" class="chat__messages table__scrollbar">

        </ol>
        <div id="typings" style="color: green; height: 20px;float: left; width: 600px; margin-left: 20px; display: none"></div>
        <div id="userSeen" style="font-style: italic; color: rgb(70, 113, 233); height: 20px;float: left; width: 1000px; margin-left: 20px; display: block; margin-bottom: 00px"></div>
        <div class="chat__footer" >
            <form id="message-form">
                <input type="text" name="message" autofocus="true" autocomplete="off" id="messagesType">
                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                <button type="button" id="send-location"><i class="fas fa-map-marker-alt"></i></button>
            </form>

                <label class="upload-btn">
                    <input type="file" id="inpFile" name="file" onchange="changeText()" />
                    <i class="fas fa-paperclip"></i>
                    <span id="selectedFileName"></span>
                </label>
                <button id="sendFile"><i class="fas fa-share-square fix-430"></i></button>

        </div>
    </div>
    <script type="text/javascript">
        function changeText() {
            var y = document.getElementById("inpFile").value;
            var text = y.split('\\');
            document.getElementById("selectedFileName").innerHTML = text[text.length - 1];
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/mustache.js"></script>

    <script id="message-template" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4>{{from}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <p>{{content}}</p>
          </div>
        </li>
      </script>
      <script id="message-template-me" type="text/template">
        <li class="message" style="margin-top: 15px">
          <div class="message__title" style="text-align: right; ">
            <h4 style="color: red">{{from}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <p>{{content}}</p>
          </div>
        </li>
      </script>
      <script id="file-template" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4>{{name}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <a href="http://ec2-3-137-168-73.us-east-2.compute.amazonaws.com/{{link}}" download>{{content}}</a> 
            <!-- <span class="seen" style="font-style: italic">Seen</span> -->
          </div>
        </li>
      </script>
      <script id="file-template-me" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4 style="color: red">{{name}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <a href="http://ec2-3-137-168-73.us-east-2.compute.amazonaws.com/{{link}}" download>{{content}}</a> 
            <!-- <span class="seen" style="font-style: italic">Seen</span> -->
          </div>
        </li>
      </script>
      <script id="file-image-template" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4>{{name}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <a href="http://ec2-3-137-168-73.us-east-2.compute.amazonaws.com/{{link}}" download>
              <img src="http://ec2-3-137-168-73.us-east-2.compute.amazonaws.com/{{link}}" alt="" style="width: 200px; height: 200px;">
            </a> <br>
          </div>
        </li>
      </script>
      <script id="file-image-template-me" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4 style="color: red">{{name}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <a href="http://ec2-3-137-168-73.us-east-2.compute.amazonaws.com/{{link}}" download>
              <img src="http://ec2-3-137-168-73.us-east-2.compute.amazonaws.com/{{link}}" alt="" style="width: 200px; height: 200px;">
            </a> <br>
          </div>
        </li>
      </script>
      <script id="location-template-me" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4 style="color: red">{{from}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <a href="{{link}}" target="blank">
              {{content}}
            </a> <br>
          </div>
        </li>
      </script>
      <script id="location-template" type="text/template">
        <li class="message">
          <div class="message__title">
            <h4>{{from}}</h4>
            <span>{{createdAt}}</span>
          </div>
          <div class="message_body">
            <a href="{{link}}" target="blank">
              {{content}}
            </a> <br>
          </div>
        </li>
      </script>

    <script src="./js/moment.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>