<!DOCTYPE html>
<html>

<head>
  <title>Welcomes to CODE TOI CHET Chat Room</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Aleo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<!--Coded with love by Mutiullah Samim-->

<body>

  <div class="container h-100">
    <% if(error != "") { %>
      <% error.forEach(item => { %>
        <div class="alert alert-warning mt-5" role="alert" style="width: 400px; margin: 0 auto">
          <%= item.error %>
        </div>
      <% }) %>
    <% }  %>
    <div class="d-flex justify-content-center h-100 ">
      
      <div class="user_card">
        <div class="d-flex justify-content-center">
          
          <div class="brand_logo_container">
            <img src="./logo.png"
              class="brand_logo" alt="Logo">
          </div>
        </div>
        <div class="d-flex justify-content-center form_container">
          <form action="/chat" method="post">
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="name" class="form-control input_user" value="" placeholder="Your Name">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-object-group"></i></span>
              </div>
              <input type="text" name="room" class="form-control input_pass" value="" placeholder="Name Room">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="password" id="password" class="form-control input_pass" value="" placeholder="Pass Room">
            </div>
            <div class="d-flex justify-content-center login_container form-field">
              <button name="button" class="login_btn"><span>Join Chat </span></button>
            </div>
          </form>
        </div>

        <div class="mt-4">
          <div class="d-flex justify-content-center links">
            We CODE TOI CHET!
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
