* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

button, label {
  border: none;
  background: transparent;
  color: #ec8074;
  font-size: 20px !important;
  cursor: pointer;
  padding: 10px;
  transition: background .3s ease;
  border-radius: 20px;
}

label span {
    font-size: 14px !important;
}

button:hover, label:hover {
  border: none;
  color: white;
  padding: 10px;
  background-color: #ec8074;
  box-shadow: 0px 0px 6px #ec8074;
}

button:disabled, label:disabled {
  cursor: default;
  background: #f1a39a;
}

body{
  background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(39,107,130,1)), color-stop(100%, rgb(236, 128, 116))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgb(236, 128, 116) 100%); /* w3c */
}

.upload-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inpFile {
  display: none;
}

.upload-btn > i {
  margin-right: 5px !important;
}

.upload-btn > span {
  white-space: nowrap; 
  margin-right: 0 !important;
  max-width: 120px; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered-form {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: -moz-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(236, 128, 116)), color-stop(100%, rgb(236, 128, 116))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* w3c */
}

.centered-form__form {
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 20px;
  width: 230px;
}

.form-field {
  margin: 20px 0;
}

.form-field > * {
  width: 100%;
}

.form-field label {
  display: block;
  margin-bottom: 7px;
}

.form-field input, .form-field select {
  border: 1px solid #e1e1e1;
  padding: 10px;
}

.chat {
  display: flex;
}


.table__scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.table__scrollbar::-webkit-scrollbar-thumb {
  background-color: #b6adad;
  border-radius: 3px;
  width: 16px;
  left: 0;
}

.table__scrollbar::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 3px;
}

.chat__sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  /* background: -moz-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* ff3.6+ 
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgb(236, 128, 116)), color-stop(100%, rgb(236, 128, 116))); /* safari4+,chrome 
  background: -webkit-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* safari5.1+,chrome10+ 
  background: -o-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* opera 11.10+ 
  background: -ms-linear-gradient(125deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* ie10+ 
  background: linear-gradient(325deg, rgb(236, 128, 116) 0%, rgb(236, 128, 116) 100%); /* w3c */
}

.chat__sidebar{
    text-align: center;
}

.chat__sidebar > img {
    margin: 10px 0; 
}

.brand_logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.img-rotate {
    border: 3px solid black;
    animation: img-rotation 10s infinite linear;
}

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(360deg);
  }
  50% {
      transform: rotateY(0deg);
  }
  75% {
      transform: rotateY(360deg);
  }
  100% {
      transform: rotateY(0deg);
  }
}


.chat__sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
  text-align: left;
}

.chat__sidebar ul {
  list-style-type: none;
}

.chat__sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.chat__main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.chat__footer {
  background: #e6eaee;
  display: flex;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 20px;
}

.chat__footer i {
    margin: 0;
}

#messagesType {
  border-radius: 20px;
  padding: 4px 10px;
}

#messagesType:focus{
  outline: none;
  box-shadow: 0px 0px 4px #ec8074;
}

.chat__footer {
    flex-grow: 0.9;
    display: flex;
    justify-content: flex-end;
}

.chat__footer form {
  display: flex;
  justify-content: flex-end;
}

.chat__footer form * {
  margin-right: 10px;
}

.chat__footer input {
  border: none;
  padding: 10px;
  flex-grow: 1;
}

.chat__footer > #message-form {
    left: 0;
    width: 100%;
}



.chat__messages {
  list-style-type: none;
  padding: 10px;
}

.message {
  padding: 10px;
}

.message__title {
  display: flex;
  margin-bottom: 5px;
}

.message__title h4 {
  font-weight: 600;
  margin-right: 10px;
}

.message__title span {
  color: #999;
}

@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat__sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer form {
    margin-bottom: 10px;
  }

  .chat__footer button {
    margin-right: 0px;
  }
}

.seen:hover {
  color: red;
}

/* Typing with css */
.tiblock {
  align-items: flex-end;
  display: flex;
  height: 17px;
  }

  .ticontainer .tidot {
      background-color: black;
  }

  .tidot {
      -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
      border-radius: 2px;
      display: inline-block;
      height: 4px;
      margin-right: 2px;
      width: 4px;
      -webkit-transform:translateY(-4px);
  }

  @-webkit-keyframes mercuryTypingAnimation{
      0%{
      -webkit-transform:translateY(-4px)
      }
      28%{
      -webkit-transform:translateY(-9px)
      }
      44%{
      -webkit-transform:translateY(-4px)
      }
  }

  .tidot:nth-child(2){
  -webkit-animation-delay:200ms;
  }
  .tidot:nth-child(3){
  -webkit-animation-delay:300ms;
  }
  .tidot:nth-child(4){
  -webkit-animation-delay:400ms;
  }